<configuration>
  <appSettings>
    <add key="UserPreferredLanguage" value="es" />
    <!-- Otras configuraciones del navegador -->
    <add key="DefaultHomePage" value="https://www.google.com" />
    <add key="AdBlockerEnabled" value="false" />
    <add key="TabSuspensionEnabled" value="true" />
    <add key="DefaultSearchEngine" value="https://www.google.com/search?q=" />
    <add key="RestoreSessionOnStartup" value="true" />
    <add key="LastSessionUrls" value="[]" /> <!-- Se actualizará dinámicamente -->
    <add key="LastSessionTabGroups" value="[]" /> <!-- Se actualizará dinámicamente -->
    <add key="LastSelectedTabGroup" value="" /> <!-- Se actualizará dinámicamente -->
    <add key="ToolbarPosition" value="Top" /> <!-- Posición de la barra de herramientas: Top, Bottom, Left, Right -->
    <add key="WindowWidth" value="1024" />
    <add key="WindowHeight" value="768" />
    <add key="WindowLeft" value="100" />
    <add key="WindowTop" value="100" />
  </appSettings>
</configuration>
